window, box, widget, label, button {
  margin: 0;
  padding: 0;
  min-height: 0;
  min-width: 0;
}

window#waybar, menu label {
  background-color: transparent;
  color: #fdc;
  font-size: 16px;
  font-family: "FiraCode Nerd Font", monospace;
}

label, #tray {
  padding: 1px 6px;
  background-color: rgba(0, 0, 0, 0.8);
}

widget > label, box > button {
  border-radius: 8px;
}

#tray, #window {
  border-radius: 8px;
}

menu {
  background-color: rgba(0, 0, 0, 0.8);
}

.modules-left {
  margin-right: 3px;
}

.modules-left label {
  min-width: 40px;
}

#battery {
  min-width: 50px;
}

#battery.low:not(.charging) {
  color: red;
}

#pulseaudio.muted.source-muted {
  min-width: 40px;
}

#pulseaudio.muted, #pulseaudio.source-muted {
  min-width: 75px;
}

#pulseaudio {
  min-width: 110px;
}

#clock {
  min-width: 175px;
}

.modules-center label {
  padding: 1px 6px;
  min-width: 8px;
}

#workspaces label {
  background-color: transparent;
}

button, #window {
  background-color: rgba(0, 0, 0, 0.8);
}

box > button {
  margin-right: 3px;
  padding-right: 4px;
  color: #fdc;
}

box > button:last-child {
  margin: 0;
}

#workspaces button.urgent {
  background-color: #fdc;
  animation-name: bgBlink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#workspaces button.focused, #workspaces button.active {
  background-color: #fdc;
  color: black;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: #876;
  border-color: #876;
}


#battery.warning:not(.charging), #cpu.warning, #memory.warning {
  color: red;
  animation-name: fgBlink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging), #temperature.critical, #cpu.critical, #memory.critical {
  background-color: red;
  animation-name: bgBlink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


@keyframes fgBlink {
  to {
    color: #fdc;
  }
}

@keyframes bgBlink {
  to {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
