* {
  margin: 0;
  padding: 0;
  min-height: 0;
  min-width: 0;
}

window#waybar, menu label {
  background-color: transparent;
  color: #fdc;
  font-size: 16px;
  font-family: "FiraCode Nerd Font", monospace;
}

label, #tray {
  padding: 1px 6px;
  background-color: rgba(0, 0, 0, 0.8);
}

menu {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 6px;
}

.modules-left label, #tray {
  min-width: 40px;
}

#battery {
  min-width: 50px;
}

#battery.low {
  color: red;
}

#pulseaudio.muted.source-muted {
  min-width: 40px;
}

#pulseaudio.muted, #pulseaudio.source-muted {
  min-width: 80px;
}

#pulseaudio {
  min-width: 120px;
}

#clock {
  min-width: 220px;
}

.modules-center {
  margin: 0 5px;
}

.modules-center label {
  padding: 1px 8px;
  min-width: 8px;
}

#workspaces label {
  background-color: transparent;
}

button, #window {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 12px;
}

button {
  margin-right: 5px;
  padding-right: 4px;
  color: #fdc;
}

#workspaces button.urgent {
  background-color: #fdc;
  animation-name: bgBlink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#workspaces button.focused {
  background-color: #fdc;
  color: black;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: #976;
  border-color: #976;
}


#battery.warning:not(.charging), #cpu.warning, #memory.warning {
  color: red;
  animation-name: fgBlink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging), #temperature.critical, #cpu.critical, #memory.critical {
  background-color: red;
  animation-name: bgBlink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


@keyframes fgBlink {
  to {
    color: #fdc;
  }
}

@keyframes bgBlink {
  to {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
