window,
box,
widget,
label,
button {
  color: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  min-height: 0;
  min-width: 0;
  background-color: transparent;
}

label,
box {
  padding: 0 1px;
}

.modules-left label {
  margin-left: 0;
  margin-right: 8px;
}

#waybar {
  /* TODO style according to Stylix */
  color: #fdc;
  font-size: 14px;
  font-family: "FiraCode Nerd Font", monospace;
}

#battery {
  min-width: 20px;
}

@keyframes fgBlink {
  to {
    color: #fdc;
  }
}

@keyframes bgBlink {
  to {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

#battery.low:not(.charging) {
  color: red;
}

#battery.warning:not(.charging),
#cpu.warning,
#memory.warning {
  color: red;
  animation-name: fgBlink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging),
#temperature.critical,
#cpu.critical,
#memory.critical {
  background-color: red;
  animation-name: bgBlink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#pulseaudio {
  min-width: 100px;
}

#pulseaudio.muted.source-muted {
  min-width: 40px;
}

#pulseaudio.muted,
#pulseaudio.source-muted {
  min-width: 75px;
}

#workspaces button {
  padding-right: 3px;
  margin-right: 3px;
  border-radius: 8px;
}

#workspaces {
  margin-top: 2px;
  margin-bottom: 1px;
}

#workspaces button:last-child {
  margin: 0;
}

#workspaces button.urgent {
  background-color: #fdc;
  animation-name: bgBlink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#workspaces button.focused,
#workspaces button.active {
  background-color: #fdc;
  color: black;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: #876;
  border-color: #876;
}

#tray {
  border-radius: 8px;
}

#clock {
  min-width: 160px;
  padding: 0 1px;
}